.container{
	background-color: #ddd;
	padding: 20px;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}

.message {
	
	padding: 5px;
	margin-bottom: 5px;

	&_incoming {
	}

	&_outgoing {
		text-align: right;
	}

	span {
		border-radius: 10px;
		background-color: #fff;
		padding: 5px 10px ;
	}
}