.app {
	position: absolute;
	top: 2%;
	right: 10%;
	bottom: 2%;
	left: 10%;

	max-height: 100vh;
	overflow: hidden;

	display: flex;

	.leftpanel{
		width: 30%;
		background-color: #eee;
		min-width: 360px;
	}

	.rightpanel {
		background-color: #ddd;
		border-left: solid 1px #ddd;
		flex-grow: 1;
		min-width: 340px;

		display: flex;
		flex-direction: column;

		& > div:nth-child(1) {
			flex: 0 0 50px;
		}

		& > div:nth-child(2) {
			flex-grow: 1;
		}
		
		& > div:nth-child(3) {
			flex: 0 0 40px;
		}
	}

	@media (max-width: 1500px){
		right: 5%;
		left: 5%;
	}

	@media (max-width: 1330px){
		right: 0;
		left: 0;
	}
}

.header {
	height: 50px;
	padding: 5px;
	background-color: #aaa;
	& > * {
		margin-left: 8px;
	}

	&_left{
		display: flex;
		align-items: center;
	}

	&_right{
		display: flex;
		align-items: center;
		& > * {
			height: 25px;
		}
		input {
			height: 25px;
		}
	}
}

.chat {
	flex-grow: 1;
}